body, html, *{
    margin:0px;
    padding:0px;
    align-content: center;
}

.container{
    position: absolute;
    background:rgb(12,170,250);
    display: block;
    min-height:600px;
    min-width:350px;
    text-align: center;
    display:gird;
    left: 40%;
    border-radius: 15px;
}
.header{
    font-size: 50px;
    text-align: center;
}

.formcontrol{
    border:0px;
    position: relative;
    padding: 10px;
    background:transparent;
    border-bottom:1px solid;
    color:white;
    font-size:20px;
    text-align: center;
}

.submit{
    display:gird;
    background:transparent;
    border:0px;
    font-size:15px;
    color:white;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;

}

.submit:hover{
    display:gird;
    border:0px;
    background:rgb(0,0,254);
    text-shadow: 2px 3px rgb(0,0,0);

}

ul {
    list-style: none;
    display: grid;
    font-size: 25px;
    width: 100%;
    margin: 0px;
    padding-left:0px ;
    padding-top: 15px;
}

ul li:hover{
    background: rgb(255, 255, 255);
    border-radius: 25px;
    color:rgb(0, 0, 0 );
    

}
ul li{
    padding: 10px;
}
ul li:hover a{
    color:blue;
    text-decoration: none;

}
ul li a{
    text-decoration: none;
    color:white;
}
ul li a:hover{
    text-decoration: none;
    color:white;
    background: rgb(200, 200, 200);
}
.control{
    display: grid;
}