<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>ToDo</title>
</head>
<body>
    <div class="header">To Do list</div>
    <div class="container">
        <form class="control" action="{{url_for('login')}}" method="POST" style="top:20px;">
            <input type="text" placeholder="*****@example.com" name="email" class="formcontrol"><br>
            <input type="password" placeholder="Password" name="password" class="formcontrol"><br>
            <input type="submit" value="Login" class="submit">
        </form>
        <form class="control" action="{{url_for('create_acc')}}" style="padding-top:0px">
            <input type="submit" value="Create Account" class="submit">
        </form>
        <div class="errormessage"> {{error}}</div>
    </div>
</body>
</html>